html {
  box-sizing: border-box;
}

* {
  --color-scrollbar-thumb: rgba(0,0,0,0.5);
  --color-scrollbar-track: rgba(0,0,0,0.2);

  &, &:before, &:after {
    box-sizing: inherit;
  }

  /* The emerging W3C standard
    that is currently Firefox-only */
  scrollbar-width: thin;
  scrollbar-color:
    var(--color-scrollbar-thumb)
    var(--color-scrollbar-track);

  /* Works on Chrome/Edge/Safari */
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 20px;
  }

  margin: 0;
  padding: 0;
  border: none;
}


//==============================================================================

#border() {
  border-collapse: collapse;
  border-width: 0;
  border-style: solid;
}

//==============================================================================
//==============================================================================
// Structure:
//==============================================================================
//==============================================================================

html, body {
  font-size: 12px;
  font-family: Helvetica,Arial,sans-serif;

  width: 325px;
  height: 100%;
}

body {
  z-index: 0;
  overflow: hidden;
}

hr {
  #border();
  border-top-width: 2px;
  margin: 0.5em 0;
}

input[type="checkbox"] {
  margin: 3px;
}

//==============================================================================

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

//==============================================================================

.page-nav {
  width: 100vw;
  flex: 0;

  padding: 10px;
  margin-bottom: 3px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .page-nav-title {
    font-weight: bold;
    font-size: 1.2em;
  }

  .page-nav-widget {
    .codicon {
      display: block;
      border: none;
    }

    .button {
      line-height: 16px;
      height: 24px;
      padding: 4px;
      border-radius: 4px;
      display: inline-block;
      text-decoration: none;
    }
  }
}


//==============================================================================

.view-sizer {
  min-height: 500px;
  max-height: 500px;
}

.page-view {
  flex: 1;
  width: 100%;
  padding-bottom: 5px;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    width: 100%;
  }
}

.view-settings-page {
  input[type="checkbox"] {
    margin-right: 1em;
  }
  label {
    #border();
    border-top-width: thin;

    display: block;
    padding: 10px;
  }
}

.view-smile-table {
  width: 315px;
  font-size: 0.9em;

  .subheading {
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: var(--c-sgrey-bg);
    padding: 2px 5px;
  }
}

.view-about-page {
  min-height: 300px;
  padding-top: 220px;

  p {
    @padding: 3em;
    padding-left: @padding;
    padding-right: @padding;
  }

  background-image: url(/images/aboutbanner.png);
  background-size: 325px 250px;
  background-repeat: no-repeat;
  text-align: center;

  footer {
    margin-top: 1em;
  }
}

//==============================================================================

.widget-nav-list {
  li {
    #border();
    border-top-width: thin;

    list-style-type: none;

    a {
        display: block;
        padding: 10px;

        color: inherit;
        text-decoration: none;
    }
  }
}

//==============================================================================

.widget-smile-table {
  width: 100%;

  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 2px;

  tr {
    width: 100%;
    overflow: hidden;

    td {
      #border();
      height: 33px;
      border-width: 2px;

      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.widget-expanded-button {
  cursor: pointer;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-size: inherit;
  font-family: inherit;

  user-select: none;
  text-decoration: none;
  background: none;

  color: inherit;
}

//==============================================================================

.widget-tooltip {
  // background-color: white;
  padding: 5px;
  font-size: 1.1em;
  font-weight: bold;

  pointer-events: none;

  transition-duration: 200ms;
  transition-property: opacity;

  border-radius: 5px;
  z-index: 100;
}

.widget-tooltip-open {
    opacity: 1;
}

.widget-tooltip-closed {
    opacity: 0;

}

//==============================================================================
//==============================================================================
// Appearance:
//==============================================================================
//==============================================================================

:root {
  --c-text: rgb(23, 43, 77);
  --c-text-l1: rgb(107, 119, 140);
  --c-text-l2: rgb(107, 119, 140);

  --c-white-bg: white;
  --c-light-bg: rgb(244, 245, 247);
  --c-grey-bg: rgb(244, 245, 247);
  --c-sgrey-bg: rgb(225, 228, 233);
  --c-sblue-bg: rgb(204, 225, 251);
  --c-sblue-fg: rgb(2, 83, 204);
  --c-bblue-bg: rgb(75, 173, 232);

  --c-tooltip-bg: rgb(80, 95, 121);
  --c-tooltip-fg: rgb(244, 245, 247);

  --c-border: rgb(223, 225, 230);;
  --c-focus: rgb(76, 154, 255);
}

* {
  border-color: var(--c-border);
}

body {
  color: var(--c-text);
  background-color: var(--c-light-bg);
}

.page-nav {
  background-color: var(--c-white-bg);
  box-shadow: 0 0 3px 0px var(--c-tooltip-bg);

  a {
    color: inherit;
  }

  .page-nav-widget {
    .button {
      background-color: var(--c-grey-bg);
      &:hover {
        background-color: var(--c-sgrey-bg);
      }
      &:active {
        color: var(--c-sblue-fg);
        background-color: var(--c-sblue-bg);
      }
    }
  }
}

.widget-nav-list {
  background-color: var(--c-grey-bg);
  a {
    &:hover {
      background-color: var(--c-sgrey-bg);
    }
    &:active {
      color: var(--c-sblue-fg);
      background-color: var(--c-sblue-bg);
    }
  }
}

.widget-smile-table {
  td {
    &:hover {
      background-color: var(--c-sgrey-bg);
    }
    &:active {
      color: var(--c-sblue-fg);
      background-color: var(--c-sblue-bg);
    }
  }
}

.widget-tooltip {
  background-color: var(--c-tooltip-bg);
  color: var(--c-tooltip-fg);
}

.widget-tooltip-success {
  background-color: var(--c-bblue-bg);
  color: var(--c-white-bg);
}

